
services:
  spark-master:
    image: cluster-apache-spark:3.5.7
    ports:
      - "8080:8080"
      - "7077:7077"
      - "15002:15002"
    volumes:
       - ./apps:/opt/spark-apps
       - ./data:/opt/spark-data
    environment:
      - SPARK_LOCAL_IP=spark-master
      - SPARK_WORKLOAD=master

  spark-worker-1:
    image: cluster-apache-spark:3.5.7
    ports:
      - "8081:8080"
      - "7000:7000"
    depends_on:
      - spark-master 
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_EXECUTOR_MEMORY=1G
      - SPARK_WORKLOAD=worker
      - SPARK_LOCAL_IP=spark-worker-1
    volumes:
       - ./apps:/opt/spark-apps
       - ./data:/opt/spark-data

  spark-worker-2:
    image: cluster-apache-spark:3.5.7
    ports:
      - "8082:8080"
      - "7001:7000"
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_EXECUTOR_MEMORY=1G
      - SPARK_WORKLOAD=worker
      - SPARK_LOCAL_IP=spark-worker-2
    volumes:
        - ./apps:/opt/spark-apps
        - ./data:/opt/spark-data

  spark-worker-3:
    image: cluster-apache-spark:3.5.7
    ports:
      - "8083:8080"
      - "7001:7000"
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_EXECUTOR_MEMORY=1G
      - SPARK_WORKLOAD=worker
      - SPARK_LOCAL_IP=spark-worker-2
    volumes:
        - ./apps:/opt/spark-apps
        - ./data:/opt/spark-data
  
  almond:
    image: almondsh/almond:latest
    ports:
      - "8888:8888"
      - "4040:4040"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    volumes:
      - ./work:/home/jovyan/work
      - ./cache:/home/jovyan/.cache
# ```
# almond:
#   image: almondsh/almond:0.14.0
#   container_name: almond
#   command: >
#     jupyter lab --ip=0.0.0.0 --no-browser --allow-root
#   ports:
#     - "8888:8888"
#   environment:
#     - SPARK_MASTER=spark://spark-master:7077